@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&family=Overpass:wght@400;700&display=swap');
:root {
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    --Light-grayish-blue: hsl(240, 5%, 91%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family:'Hanken Grotesk', sans-serif;
    font-size: .75rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    height: 509px;
    background-color: aliceblue;
    gap: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: .5rem;
}

.bgSection {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    position: relative;
    background-position:120% 60%;
    background-size: 140%;
    
}

.imgContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.imgMain {
    position: relative;
    top: 12%;
    left: -15%;
}

.box {
    position: absolute;
    top: 38%;
    left: -24%;
}

.faqSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.faqSection h1 {
    align-self: flex-start;
    padding-bottom: 2.5rem;
    color: var(--Very-dark-desaturated-blue); 
    font-weight: bolder;
    font-size: 3rem;
}

.questionAnswers {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container {
    border-bottom: 1px solid var(--Light-grayish-blue);
    padding: 1rem 0;
}

.questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5rem;
    color: var(--Very-dark-grayish-blue);
    cursor: pointer; 
    width: 100%;
}

.questions:hover {
    color: orange;
}

.clicked-question {
    color: black;
    font-weight: bold;
}

.answers {
    visibility: hidden;
    height: 0;
    color: var(--Dark-grayish-blue);
    font-size: .6rem;
    transition: height 0.3s ease
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.visible {
    visibility: visible;
    height: auto;
}


@media screen and (max-width:600px) {
    main {
        flex-direction: column;
        height: 650px;
        gap: 0; 
        margin-top: 6rem;
             
    }
    .bgSection {
        width: 90%;
        height: 30%;
    }
    .faqSection {
        width: 90%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }
    .faqSection h1 {
        align-self: center;
        justify-self: flex-start;
        font-size: 3rem;
    }
    .questionAnswers {
        width: 100%;
    }
    .bgSection {
        background-image: url(./images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        position: relative;
        background-position:40% 10%;
        background-size: 80%;
    }
    .imgContainer{
        overflow: visible;
        margin-top: 2rem;
    }
    .imgMain {
        width: 80%;
        height: 80%;
        position: relative;
        z-index: 2;
        top: -80%;
        left: 10%
    }
    
    .box {
        display: none;
    }
}